[submodule "discord-api-spec"]
	path = discord-api-spec
	url = https://github.com/discord/discord-api-spec.git
[submodule "openapi-down-convert"]
	path = openapi-down-convert
	url = https://github.com/discord-openapi-clients/openapi-down-convert.git
